.active {
    border: 2px solid black;
    transform: scale(1.3);
    transition: all 300ms;
}

.mainImg {
    transition: all 500ms;
}

.actions {
    position: absolute;
    top: 40%;
    width: 100%;
    display: flex;
    justify-content: space-between;

}